.weapon-card {
	background: Gainsboro;
	color: white;
	height: 250px;
	width: 350px;
	border-radius: 10px;
	border: 4px solid black;
	margin: 15px;
	display: flex;
	flex-direction: column;
}

.core-card {
	background: Gainsboro;
	color: white;
	height: 350px;
	width: 250px;
	border-radius: 10px;
	border: 4px solid black;
	margin: 15px;
	display: flex;
	flex-direction: column;
}

.card-header {
	align-items: flex-start;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.type-icon {
	height: 0px;
	width: 34px;
	transform: translate(-24px, -24px);
	z-index: 1;
}

.weapon-card-content, .core-card-content {
	display: flex;
	flex-grow: 1;
}

.weapon-card-content {
	flex-direction: row;
}

.core-card-content {
	flex-direction: column;
}

.card-art-box {
	flex-grow: 1.2;
	flex-basis: 55%;
	display: flex;
	flex-direction: column;
}

.xp-bar-bg {
	flex-basis: 10px;
	background-color: gray;
	display: flex
	flex-direction: row;
	box-shadow: inset 0 0 4px #000000;
}

.xp-bar {
	background-color: DodgerBlue;
	width: 60%;
	height: 100%;
	box-shadow: 4px 2px 5px 5px DodgerBlue;
}

.weapon-art, .core-art {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	background-color: ForestGreen;
	-mox-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}

.weapon-art {
	flex-direction: column;
}

.core-art {
	flex-direction: row;
}

.weapon-card-art, .core-card-art {
	background-image: url("icons/hex.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.weapon-card-art {
	width: 100%;
	height: 192px;
}

.core-card-art {
	height: 100%;
	width: 160px;
}

.base-stats {
	background-color: #404040;
	padding: 2px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 5px;
}

.base-damage, .base-range, .base-ammo {
	vertical-align: bottom-top;
	font-size: 18px;
	font-weight: bold;
	color: AntiqueWhite;
}

.card-text {
	flex-grow: 1;
	background-color: Gainsboro;
	flex-basis: 45%;
	display: flex;
	flex-direction: column;
}

.name-plate {
	background: Teal;
	flex-grow: .52;
	transform: skewX(-10deg);
	display: flex;
}

.name {
	flex-grow: 1;
	padding-left: 5px;
	font-weight: bold;
}

.rarity {
	background-color: Lime;
	flex-basis: 10px;
	transform: scale(1.4,1.4);
	border: 2px outset black;
}

.weight, .energy {
	flex-basis: 50px;
	transform: skewX(-10deg) scale(1.35,1.35) translate(2px, -5px);
	border: 2px solid black;
	text-align: center;
	margin: auto;
	font-weight: bold;
}

.weight {
	color: black;
	background-color: Chartreuse;
	border-radius: 10px 0px 0px 5px;
}

.energy {
	color: black;
	background-color: yellow;
	border-radius: 0px 5px 10px 0px;
}

.stats {
	list-style-type: none;
	flex-grow: 1;
	color: black;
	font-weight: bold;
	padding: 0;
	margin: 5px;
}

.ability {
	flex-basis: 20px;
	color: black;
	background-color: gold;
	border-radius: 2px;
	border-width: 0px;
	box-shadow: inset 0px -2px 1px rgba(0,0,0,0.8),
		    inset 0px  2px 1px rgba(255,255,255,1);
	padding: 3px;
	transform: scale(1.03,1.03);
}

.flex-container {
	display: flex;
}

.icon {
	vertical-align: middle;
}

